@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #eee;
  }
}

.custom-radio {
  width: 10px;
  height: 10px;
}

.custom-radio > div {
  box-shadow: 0 0 0 5px white;
}

.custom-radio input:checked + div {
  background-color: blue;
  box-shadow: 0 0 0 2.5px white, 0 0 0 5px blue;
}

.custom-checkbox input:checked + div .custom-checkbox-square {
  background-color: blue;
}

.custom-checkbox-square {
  width: 20px;
  height: 20px;
}
